<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Интернет-магазин книг</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Интернет-магазин книг</a>
        <a class="navbar-brand" href="/list_of_authors">Авторы</a>
        {% if current_user.is_authenticated %}
        <p>
            <a class="btn btn-warning" href="/shopping_cart">{{ current_user.name }}</a>
            <a class="btn btn-success" href="/logout">Выйти</a>
        </p>

{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
    </nav>
</header>
<main role="main" class="container">
    {{ text }}
    {% block content %}{% endblock %}
</main>
</body>
</html>