{% extends "base.html" %}

{% block content %}
<h1>Корзина</h1>
{% if list_of_books == [0] %}
<div class="col-md6 border rounded">
<h2>В корзине пока нет товаров.</h2>
</div>
{% else %}
    {% for item in books%}
    {% if item.id in list_of_books %}
    <div class="col-md6 border rounded">
        <h2>{{item.title}}</h2>
        <div>
            {{item.description}}
        </div>
        <div>
            Автор - {{item.author.name}}
        </div>
        <div>
            Цена - {{item.price}}р.
        </div>
        <div>
            <a class="btn btn-secondary" href="/delete_books/{{ item.id }}">Удалить</a>
        </div>
    {% endif %}
    {% endfor %}
    <div>
        <a class="btn btn-dark" href="/buy">Заказать - {{ count }}р.</a>
    </div>
{% endif %}
</div>
{% endblock %}